body {
  background-color: #333;
  color: #ddd;
  font-family: 'Calibri';
  text-align: center;
}

h2 {
  font-size: 100px;
}

button {
  padding: 5px 10px;
  cursor: pointer;
}

hr {
  width: 100px;
}

input[type=number] {
  width: 60px;
  margin-left: 5px;
}

/* input[disabled=true] {
  cursor: pointer;
} */